{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Account{% endblock title %}
{% block subtitle %}Create a Business Tracker account for a new user.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-xl-6">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6">
            {{ form.verify_email|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-xl-6">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-xl-6">
            {{ form.address1|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6">
            {{ form.address2|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6">
            {{ form.city|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6">
            {{ form.state|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6">
            {{ form.zipcode|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6">
            {{ form.country|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="form-group">
        <p>The new user will receive an email with instructions on how to activate their account.</p>
    </div>
    <hr>
    <div class="form-actions">
        <button type="submit" class="btn btn-success btn-detail">
            <i class="fas fa-check fa-fw mr-1"></i>
            Save
        </button>
        <a class="btn btn-secondary btn-detail" href="{{ request.GET.next }}">
            <i class="fas fa-times-circle fa-fw mr-1"></i>
            Cancel
        </a>
    </div>
</form>
{% endblock content %}