{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}
{% block subtitle %}Submit your email to receive instructions for reseting your password.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-detail">
            <i class="fas fa-share fa-fw mr-1"></i>
            Submit request
        </button>
    </div>
</form>
{% endblock content %}