{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock title %}
{% block subtitle %}Set your password using the form below.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <div class="form-actions">
        <button type="submit" class="btn btn-success btn-detail">
            <i class="fas fa-check fa-fw mr-1"></i>
            Save
        </button>
    </div>
</form>
{% endblock content %}