{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>My Business</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/fc-3.3.1/r-2.2.5/datatables.min.css" />
    <link rel="stylesheet" href="{% static 'css/Business.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/fc-3.3.1/r-2.2.5/datatables.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/Business.js' %}"></script>
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    {% include "includes/sidebar.html" %}
    <div class="main">
        {% include "includes/messages.html" %}
        <h1 class="text-uppercase font-weight-bold">{% block title %}{% endblock title %}</h1>
        <p>{% block subtitle %}{% endblock subtitle %}</p>
        <hr>
        {% block content %}{% endblock content %}
    </div>
</body>

</html>