html,
body {
    font-family: 'Roboto', sans-serif;
}
.asteriskField {
    display: none;
}
.sidenav {
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    background-color: #f0f0f0;
    padding: 16px 16px;
    overflow-y: auto;
    transition: all 250ms ease-in-out;
}
.sidenav-controls {
    flex: 1;
    margin-top: 16px;
    margin-bottom: 16px;
}
.sidenav a {
    padding: 8px;
    margin: 4px 0;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: all 250ms ease;
}
.sidenav a.active {
    background-color: #8cc63f;
    color: #ffffff;
    transform: scale(1.05);
}
.sidenav a:hover:not(.active) {
    background: #ffffff;
    color: #404040;
}
.main {
    margin-left: 256px;
    padding: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: auto;
    transition: all 250ms ease-in-out;
}
.sidenav-button { 
    position: fixed;
    left: 0;
    top: 50vh;
    z-index: 2;
    border: none;
    outline: 0;
    font-size: 2rem;
    display: none;
    padding: 4px;
    padding-left: 8px;
    transition: all 250ms ease-in-out;
}
.sidenav-button:focus {
    box-shadow: none;
}
.btn-detail {
    width: 100%;
    margin: 4px 8px;
}
@media (min-width: 768px) {
    .btn-detail {
        width: auto;
    }
}
@media (max-width: 991px) {
    .main {
        margin-left: 0;
    }
    .sidenav {
        left: -256px;
    }
    .main-below {
        filter: blur(16px);
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .sidenav-show {
        left: 0;
        box-shadow: 4px 0 16px #000000;
    }
    .body-below {
        overflow: hidden;
    }
    .sidenav-button {
        display: block;
    }
    .sidenav-button-show { 
        left: 256px;
        padding-left: 4px;
        padding-right: 16px;
        transform: scaleX(-1);
    }
    .alert-dismissible {
        margin: 12px 12px 12px 12px !important;
    }
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
.alert > ul {
    list-style-type: none;
    padding: 0;
}
.list-view td:last-child {
    width: 128px;
}
#jsDetailTable_wrapper ul.pagination {
    margin: 0;
}
#jsDetailTable_wrapper .page-link {
    padding: 0.3rem .5rem;
    line-height: normal;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.gj-picker-bootstrap table tr td.today div {
    color: #007bff !important;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    color: #fff !important;
}
.item-table {
    min-width: 92px;
}
.actions-sidebar {
    width: 256px;
}
.btn-sm {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
.badge-careful {
    color: #fff;
    background-color: #ee7b26;
}
.alert {
    background-color: #f8f8f8;
    border-radius: 4px;
    color: #000000;
}
.alert-dismissible {
    margin: 12px 12px 12px 272px;
    animation: slideIn 500ms;
}
.animate-flicker {
    animation: flickerAnimation 2.5s infinite;
}
@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translate(0, -72px);
    }
    to {
      transform: translate(0, 0);
    }
}
.alert-success {border-top: 6px solid #8cc63f;}
.alert-danger {border-top: 6px solid #f44336;}
.alert-warning {border-top: 6px solid #ff9800;}
.alert.debug {border-top: 6px solid #181818;}
.alert-info {border-top: 6px solid #3fc6bd;}
